* {
    /* border: 1px solid gray; */

}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "Noto Sans Math", Helvetica;
    /* font-family: Helvetica; */
    /* font-family: "Google Sans", Roboto, arial, sans-serif */

}

.calculator {
    width: 500px;
    margin-top: 30px;
    background-color: black;
    font-size: 500%;
}
#screen {
    background-color: black;
    padding-right: 15px;
    margin: 10px;
    color: white;
    text-align: right;
}

.buttons {
    text-align: center;
    font-size: 50px;
    color:white;
    display: flex;
    flex-wrap:wrap;
    cursor: default;

}

.orangeBtn {
    background-color:rgb(182, 100, 0);
}
.lightBtn {
    background-color:rgb(134, 134, 134);
    color: black;
    font-size:xx-large;
    font-weight: bold;
    font-family: Helvetica;
}
.grayBtn {
    background-color:rgb(28, 34, 34);
}

#zero {
    flex-basis: 44%;
    flex-grow: 1;
    margin: 2%;
    border-radius: 500px;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 0;
    padding: 10% 0;
    border-radius: 50%;
    flex-basis: 18%;
    flex-grow: 1;
    margin: 2%;
}

